<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
           box-sizing: border-box;
        }
        body {
        }
        .column {
          float: left;
          width: 50%;
          padding: 10px;
          height: 300px; /* Should be removed. Only for demonstration */
        }
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <a href="{% url 'App:homepage' %}">
        <button style="border-radius:15px">Back</button>
    </a>
    <div align="center">
        <h2 style="color:white">Result</h2>
    </div>

    <div align="center">

    </div>
    <div class="row">
      <div class="column">
        <div align="center">
            <h2 style="color:white">Input image</h2>
        </div>
        <div align="center">
            <img src="{{ filePathName }}" alt="Input", width="500px", height="500px">
        </div>
      </div>
      <div class="column">
        <div align="center">
            <h2 style="color:white">Output image</h2>
        </div>
        <div align="center">
            <img src="{{ img_uri }}" alt="Output" width="500px", height="500px">
        </div>
        <div align="center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>
            {% include 'form_edit.html' %}
        </div>
      </div>
    </div>
</body>
</html>